body{
  margin: 0;
  padding: 0;
  background: #e7eaef;
  font-family: 'Open Sans', sans-serif;
}
top{
  width: 100%;
  height: 600px;
  background: url(/images/bg_main.jpg) no-repeat bottom center;
  margin-bottom: 20px;
}
.container{
  width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
}
.container-table{
  width: 1780px;
  margin: 0 auto;
}
.wrapper{
  display: flex;
  justify-content: space-between;
}
ul{
  list-style: none;
  padding-left: 0;
  padding-top: 5px;
}
.menu-list {
  text-align: center;
  max-height: 100px;
  padding: 20px 0;
  background: rgba(28,54,85,.4);
  width: 100%;
  color: #fff;
}
.nav li{
  display: inline;
  margin: 0 30px;
  font-size: 20px;
  letter-spacing: 1px;
  height: 35px;

}
.login{
  font-size: 20px;
  letter-spacing: 1px;
  padding: 16px 0;
  width: 450px;
  height: 35px
}
.login i{
  padding-left: 20px;
  font-size: 30px;
}
a{
  text-decoration: none;
  color: #fff;
}
.login a{
  vertical-align: sub;
  padding-left: 120px;
}
form{
  text-align: right;
  width: 622px;
  margin: 35px 0;
}
.in-date{
  width: 330px;
}
label{
  letter-spacing: 1px;
  padding-right: 30px;
}
input{
    border-radius: 4px;
    height: 50px;
    width: 330px;
    padding: 10px;
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
p{
  font-size: 20px;
  padding-left: 30px;
  margin-top: 35px;
}
.add{
  background: #628ca6;
  border: 3px solid #628ca6;
  color: #fff;
  width: 150px;
  border-radius: 4px;
  outline: none;
  height: 50px;
  font-size: 16px;
  margin-left: 290px;
  margin-bottom: 35px;
}
.add:hover{
  color: #000;
  background: #fff;
}
.mainmenubtn {
    color: white;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-child {
    display: none;
    background-color: rgba(28,54,85,.7);
    width: 360px;
    left: 50px;
    margin-left: 143px;
    margin-top: 10px;
}
.dropdown-child a {
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #fff;
}
.dropdown:hover .dropdown-child {
    display: block;
}
